body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #efefef;
  margin: 0; }

p {
  color: #727272; }

h1, h2 {
  color: #365282;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

.basicText {
  color: #727272; }

.subText {
  color: #727272;
  font-size: 0.8em; }

.flexImage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

#navBar {
  width: 100%;
  height: 50px;
  background-color: #365282; }
  #navBar #navInnerWrapper {
    width: 1400px;
    margin: auto; }
  #navBar .navList {
    margin: 0;
    padding: 0;
    display: flex; }
  #navBar .navItems {
    list-style: none;
    font-family: "Oswald", sans-serif;
    margin: 10px 20px 0px 5px; }
    #navBar .navItems a {
      color: #F8F9FC;
      text-decoration: none;
      position: relative; }
    #navBar .navItems a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #F8F9FC;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    #navBar .navItems a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

#mainContent {
  margin: auto;
  width: 1400px; }

#headerWrapper {
  background-color: #ffffff; }

.headerContent {
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  margin: auto; }
  .headerContent h1, .headerContent h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    color: #365282; }
  .headerContent #headerDetails {
    width: 270px; }
    .headerContent #headerDetails .headerInfo {
      font-family: "Open Sans", sans-serif;
      font-size: 0.85em; }
  .headerContent #contactDetails {
    margin: auto 0 auto 15px; }
    .headerContent #contactDetails h2 {
      font-size: 1.1em; }
    .headerContent #contactDetails .headerInfo ul {
      padding: 0;
      margin: 0; }
    .headerContent #contactDetails .headerInfo li {
      list-style-type: none; }
    .headerContent #contactDetails .headerInfo a {
      text-decoration: none;
      color: #727272; }
  .headerContent #profilePicture {
    width: 150px;
    border-radius: 50%;
    border: 1px #727272 solid;
    margin-right: 20px; }

#detailCardContainer {
  background-color: #F8F9FC;
  padding: 20px 0 20px 0;
  border-top: 1px solid #e2e5e8;
  border-bottom: 1px solid #e2e5e8; }
  #detailCardContainer .detailCard {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 240px 20px 240px;
    border-radius: 3px;
    box-shadow: 0 1px 3px #b5b5b5; }
    #detailCardContainer .detailCard h2 {
      margin-bottom: 0.2em; }
    #detailCardContainer .detailCard h3 {
      font-weight: normal;
      color: #3f3f3f;
      margin-bottom: 0; }
  #detailCardContainer .detailCardTop {
    margin-top: 0; }
  #detailCardContainer #skillsCard .detailBox {
    padding-right: 20px; }
  #detailCardContainer #skillsCard li {
    list-style-type: none;
    color: #727272; }
  #detailCardContainer #skillsCard ul {
    padding: 0; }

.detailBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.detailBox h3 {
  margin: 0; }

#footerContent {
  width: 1400px;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #727272; }
  #footerContent a {
    color: #727272;
    text-decoration: none; }

@media screen and (max-width: 1400px) {
  #detailCardContainer .detailCard {
    margin: 20px 17% 20px 17%; }

  #detailCardContainer .detailCardTop {
    margin-top: 0; }

  #footerContent {
    width: 100%; }

  #mainContent {
    width: 100%; } }
@media screen and (max-width: 949px) {
  .headerContent {
    justify-content: center; }

  .headerContent #contactDetails {
    margin-left: 140px; } }
@media screen and (max-width: 923px) {
  #detailCardContainer #skillsCard .detailBoxWrapper {
    justify-content: flex-start; } }
@media screen and (max-width: 850px) {
  .detailBoxWrapper {
    flex-wrap: wrap;
    justify-content: flex-start; } }
@media screen and (max-width: 770px) {
  .headerContent {
    width: auto; } }
@media screen and (max-width: 488px) {
  .headerContent #contactDetails {
    margin-left: 0;
    text-align: center; }

  .headerContent #headerDetails {
    text-align: center; }

  .headerContent #profilePicture {
    margin: 0 12px 0 12px; } }

/*# sourceMappingURL=style.css.map */
